.stitle{
    margin: 20px;
    padding: 5px;
    height: 50px;
    background-color:rgb(16, 133, 187);
    color: white;
    text-align: center;
}

.scart{
    margin: 10px;
    padding: 10px;
    height: 300px;
    width: 280px;
    background-color:cornsilk;
    border-radius: 5px;
    text-align: center;
    color:blue;
}

.image{
    width: 80px;
    height: 50px;
}