.servicename{
    width: 100%;
    margin: 20px;
    padding: 5px;
    height: 50px;
    background-color:cornflowerblue;
    color:darkred
}
.img{
    width: 240px;
    height: 200px;
}
.cart{
    height: 320px;
    width: 410px;
    background-color:lightgrey;
    border-radius: 5px;
    text-align: center;
    color:blue;
    padding: 5px;
}
.cost{
    font-size: 20px;
}
