
.consultent{
    margin: 10px;
    padding: 5px;
    width: auto;
    height: 60px;
    background-color:lightseagreen;
    color: white;
    
}
.dcart{
    margin: 5px;
    padding: 20px;
    gap: 2px;
    height: 340px;
    width: 300px;
    background-color:lightseagreen;
    border-radius: 5px;
    text-align: center;
    color:white;
    font: bold;
}
